<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.2.2/echarts.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
        #pm25_scrip {
            width: 600px;
            height: 400px;
        }
    </style>
</head>

<body>
    <h1>圖形繪製</h1>
    <!-- 为 ECharts 准备一个定义了宽高的 DOM -->
    <div id="pm25_scrip"></div>
    <script>
        const chart1 = echarts.init(document.querySelector('#pm25_scrip'));


        $(document).ready(() => {
            drawPM25Chart();
        });


        function drawPM25Chart() {
            $.ajax(
                {
                    url: '/pm25-data',
                    type: 'POST',
                    dataType: 'json',
                    //dataType  T 一定要大寫
                    success: (datas) => {
                        console.log(datas)
                        const option = {
                            title: {
                                text: 'PM2.5全台圖'
                            },
                            tooltip: {},
                            legend: {
                                data: ['PM2.5']
                            },
                            xAxis: {
                                data: datas['sites']
                            },
                            yAxis: {},
                            series: [
                                {
                                    name: 'pm2.5',
                                    type: 'bar',
                                    data: datas['pm25_da']
                                }
                            ]

                        };

                        console.log(chart1);
                        console.log(option);

                        chart1.setOption(option);
                    }

                }
            )
        }



    </script>


</body>

</html>